<div style="width:400px; margin:100px auto">
  <img src="images/logo.png" style="width:400px; margin:0 auto">
 <table align="center" class="table">
    <tr>
        <td><input class="form-control"  ng-model="login.usrid" placeholder="User ID "></td>

    </tr>
    <tr>
        <td><input type="password" class="form-control" ng-model="login.password" size="10" placeholder="Password" ></td>
    </tr>
    <tr>
        <td align="center">
           <!--  <button class="btn btn-primary" ng-click="loginCheck()">log in </button> -->
            <button class="btn btn-primary" ng-click="login(login)">log in </button>
        </td>
    </tr>
    <tr>
        <td align="right"><a href="#/signup">sign up</a> | Forget your ID or passowrd ? </td>
    </tr>
</table>
</div>